<p class='mt-6'><a href="#" class='start btn btn-outline-primary radius5'>Start</a><a href="./building" class='restart btn btn-outline-primary radius5 ml-3'>Reset</a></p>
  <div class="row">
    <div class="col-s-12 col-md-4 px-3" style=''>
      <div class="mainsideleft">
        <div class="smallbanner size1">
          <p class='grow1'><strong>TOTAL</strong></p>
          <p class='light'>280 postes</p>
          <p><span>2110 m2</span></p>
        </div>

        <div class="cardmetier dropcontainer">

          <div class="smallbanner size2 shadowbot">
            <p class='grow2'><strong>MARKETING</strong></p>
            <p class='light'>90 postes</p>
            <p><span class='text-rosedark'>800 m2</span></p>
          </div>

          <div class="atrierservice" data-capacity='250'>
            <div class="block-service rose">
              <div class='firstline'>
                <p class='text-rosedark'>Mar. produit.</p>
                <p class='pop-personne'>30p</p>
              </div>
              <div class="sideright">
                <div class="rosedark pop-surface">
                  250m2
                </div>
              </div>
            </div>
          </div>

          <div class="atrierservice" data-capacity='400'>
            <div class="block-service rose">
              <div class='firstline'>
                <p class='text-rosedark'>Mar. Marché.</p>
                <p class='pop-personne'>30p</p>
              </div>
              <div class="sideright">
                <div class="rosedark pop-surface">
                  400m2
                </div>
              </div>
            </div>
          </div>

          <div class="atrierservice" data-capacity='150'>
            <div class="block-service rose">
              <div class='firstline'>
                <p class='text-rosedark'>Mar. Di.</p>
                <p class='pop-personne'>20p</p>
              </div>
              <div class="sideright">
                <div class="rosedark pop-surface">
                  150m2
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="cardmetier dropcontainer">

          <div class="smallbanner size2 shadowbot">
            <p class='grow2'><strong>COMMUNICATION</strong></p>
            <p class='light'>60 postes</p>
            <p><span class='text-vertdark'>360 m2</span></p>
          </div>

          <div class="atrierservice" data-capacity='180'>
            <div class="block-service vert">
               <div class='firstline'>
                <p class='text-vertdark'>Com. Int.</p>
                <p class='pop-personne'>30p</p>
              </div>
              <div class="sideright">
                <div class="vertdark pop-surface">
                  180m2
                </div>
              </div>
            </div>
          </div>


          <div class="atrierservice" data-capacity='180'>
            <div class="block-service vert">
              <div class='firstline'>
                <p class='text-vertdark'>Com. Ext.</p>
                <p class='pop-personne'>30p</p>
              </div>
              <div class="sideright">
                <div class="vertdark pop-surface">
                  180m2
                </div>
              </div>
           </div>
        </div>
        </div>



        <div class="cardmetier dropcontainer">

          <div class="smallbanner size2 shadowbot">
            <p class='grow2'><strong>RH</strong></p>
            <p class='light'>50 postes</p>
            <p><span class='text-bleudark'>350 m2</span></p>
          </div>

          <div class="atrierservice" data-capacity='100'>
            <div class="block-service bleu">

              <div class='firstline'>
                <p class='text-bleudark'>RH1.</p>
                <p class='pop-personne'>20p</p>
              </div>
              <div class="sideright">
                <div class="bleudark pop-surface">
                  100m2
                </div>
             </div>
          </div>

          </div>

          <div class="atrierservice" data-capacity='250'>
            <div class="block-service bleu">
              <div class='firstline'>
                <p class='text-bleudark'>RH2.</p>
                <p class='pop-personne'>30p</p>
              </div>
              <div class="sideright">
                <div class="bleudark pop-surface">
                  250m2
                </div>
              </div>
           </div>
        </div>

        </div>


        <div class="cardmetier dropcontainer">

          <div class="smallbanner size2 shadowbot">
            <p class='grow2'><strong>FINANCE</strong></p>
            <p class='light'>30 postes</p>
            <p><span class='text-orangedark'>180 m2</span></p>
          </div>

          <div class="atrierservice" data-capacity='180'>
            <div class="block-service orange">

              <div class='firstline'>
                <p class='text-orangedark'>Finance</p>
                <p class='pop-personne'>30p</p>
              </div>
              <div class="sideright">
                <div class="orangedark pop-surface">
                  180m2
                </div>
             </div>
          </div>

          </div>

        </div>

         <div class="cardmetier dropcontainer">

          <div class="smallbanner size2 shadowbot">
            <p class='grow2'><strong>IT</strong></p>
            <p class='light'>70 postes</p>
            <p><span class='text-jaunedark'>420 m2</span></p>
          </div>

          <div class="atrierservice" data-capacity='250'>
            <div class="block-service jaune">

              <div class='firstline'>
                <p class='text-jaunedark'>IT - A</p>
                <p class='pop-personne'>40p</p>
              </div>
              <div class="sideright">
                <div class="jaunedark pop-surface">
                  250m2
                </div>
             </div>
          </div>

          </div>

          <div class="atrierservice" data-capacity='170'>
            <div class="block-service jaune">
              <div class='firstline'>
                <p class='text-jaunedark'>IT - B</p>
                <p class='pop-personne'>30p</p>
              </div>
              <div class="sideright">
                <div class="jaunedark pop-surface">
                  170m2
                </div>
              </div>
           </div>
          </div>

        </div>

      </div>

    </div>


    <div class="col-s-12 col-md-8 px-3" style='background-color: #F4F8F9;'>
      <div class="mainsideright">
        <div class="title-line">
          <p><strong>IMMEUBLE NINJA</strong></p>
          <p>2450 m2</p>
        </div>
      <div class="full-building">
        <div class="image-toit"></div>
        <div class="spacearound">
          <div class="body-building">
            <div class="inside-building">

                <div class="dropcontainer capa radius5" data-capacity='712' data-originalcapacity='712'>
                  <div class="empty"></div>
                  <div class="etiquette-info">
                    <div class="pop-pourcentage">86%</div>
                    <div class="pop-surface-utilise">610m2</div>
                    <p class="surface-total">/ 712 m2</p>
                  </div>
                </div>

                <div class="dropcontainer capa radius5" data-capacity='500' data-originalcapacity='500'>
                  <div class="empty"></div>
                  <div class="etiquette-info">
                    <div class="pop-pourcentage">86%</div>
                    <div class="pop-surface-utilise">610m2</div>
                    <p class="surface-total">/ 712 m2</p>
                  </div>
                </div>

                <div class="dropcontainer capa radius5" data-capacity='712' data-originalcapacity='712'>
                  <div class="empty"></div>
                  <div class="etiquette-info">
                    <div class="pop-pourcentage">86%</div>
                    <div class="pop-surface-utilise">610m2</div>
                    <p class="surface-total">/ 712 m2</p>
                  </div>
                </div>

                <div class="dropcontainer capa radius5" data-capacity='726' data-originalcapacity='726'>
                  <div class="empty"></div>
                  <div class="etiquette-info">
                    <div class="pop-pourcentage">86%</div>
                    <div class="pop-surface-utilise">610m2</div>
                    <p class="surface-total">/ 712 m2</p>
                  </div>
                </div>

            </div>

          </div>
        </div>
         <div class="image-buisson">
         </div>


      </div>



      </div>


    </div>
  </div>

