<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<ul>
<li class='card'>ceci est un text à déplacer</li>
<li class ='card'>ceci est un text à déplacer</li>
<li class ='card'>ceci est un text à déplacer</li>
<li class ='card'>ceci est un text à déplacer</li>
<li class ='card'>ceci est un text à déplacer</li>
<li class ='card'>ceci est un text à déplacer</li>
<li class ='card'>ceci est un text à déplacer</li>
<li class ='card'>ceci est un text à déplacer</li>
<li class ='card'>ceci est un text à déplacer</li>
<li class ='card'>ceci est un text à déplacer</li>
</ul>

<div class="receiver">ceci est une div dans lequel mettre le text</div>
