<h1>ESSAI DROP</h1>
<p>Cliquez sur start pour commencer. Les valeurs à gauche doivent être déplacées vers les capacités à droite</p>
<p><a href="#" class='start btn btn-outline-primary radius5'>Start</a></p>
<div class="grid">
    <div class="capa">
      <div class="tricontainer radius5">
        <div class="atrier" data-capacity='40'><div class="interieur"></div></div>
        <div class="atrier" data-capacity='30'><div class="interieur"></div></div>
        <div class="atrier" data-capacity='10'><div class="interieur"></div></div>
        <div class="atrier" data-capacity='110'><div class="interieur"></div></div>
        <div class="atrier" data-capacity='70'><div class="interieur"></div></div>
      </div>
    </div>
    <div class="building">
      <div class="tricontainer capa radius5" data-capacity='100'>
        <div class="empty"></div>
        <div class="etiquette"></div>
      </div>
      <div class="tricontainer capa radius5" data-capacity='200'>
        <div class="empty"></div>
        <div class="etiquette"></div>
      </div>
      <div class="tricontainer capa radius5" data-capacity='50'>
        <div class="empty"></div>
        <div class="etiquette"></div>
      </div>
    </div>
</div>

<div class="grid attached">
</div>
<!--
<div >

    <ul class="box">
    <div class="dropzone draggable-dropzone--occupied mh-100">
    <li class='card'>1 ceci est un text à déplacer</li>
    <li class ='card'>2 ceci est un text à déplacer</li>
    <li class ='card'>3 ceci est un text à déplacer</li>
    <li class ='card'>4 ceci est un text à déplacer</li>
    <li class ='card'>5 ceci est un text à déplacer</li>
    <li class ='card'>6 ceci est un text à déplacer</li>
    <li class ='card'>7 ceci est un text à déplacer</li>
    <li class ='card'>8 ceci est un text à déplacer</li>
    <li class ='card'>9 ceci est un text à déplacer</li>
    <li class ='card'>10 ceci est un text à déplacer</li>
  </div>
    </ul>
  </div>
</div>

<div class="box">
  <div class="dropzone">ceci est une div dans lequel mettre le text</div>
</div>


<div class="container">
  <div class="dropzone draggable-dropzone--occupied"><div class="item">A</div></div>
  <div class="dropzone draggable-dropzone--occupied"><div class="item">B</div></div>
  <div class="dropzone draggable-dropzone--occupied"><div class="item">C</div></div>
</div>

<div class="container">
  <div class="dropzone"></div>
</div>

<style>
  .item { height: 100%; }
  .dropzone { outline: solid 1px; height: 50px; }
  .draggable-dropzone--occupied { background: lightgreen; }
</style>
 -->
